@page "/"
@using VigilantCity.Core.Models
@inject Blazored.LocalStorage.ILocalStorageService localStorage;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code{
    public City? City { get; set; }
    protected override async Task OnInitializedAsync()
    {
        this.City = await localStorage.GetItemAsync<City>(nameof(City));

        await base.OnInitializedAsync();
    }
}